/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");
*{
	padding:0;
	margin:0;
	font-family :sans-serif;

}
body{
	background: #000;

}
.container1{
	text-align: center;
	position:absolute;
	top:50%;
	left:50%;
	transition: translate(-50%,50%);
}
.container1 span{
	text-decoration: uppercase;
	display:block;
}
.text1{
	color:white;
	font-size:60px;
	font-weight:700;
	letter-spacing:8px;
	margin-bottom:20px;
	background:black;
	position:relative;
	animation: text 3s 1;
}
.text2{
	font-size:30px;
	color:#6ab04c;
}
@keyframes text{
	0%{
		color:black;
		margin-bottom:-40px;
	}
	30%{
		letter-spacing:25px;
		margin-bottom:-40px;
	}
	85%{
		letter-spacing:8px;
		margin-bottom:-40px;
	}
}